# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# SQLite database
db.sqlite3

# Virtual environment
venv/

# Django migrations cache
*.pyc

# VS Code settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.swp

# Logs
*.log
